.advantages__wrapper {
  .container();
}
.advantages__title {
  min-height: 218px;
  padding-bottom: 30px;
}
.advantages__items {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 320px;
  &::after {
    content: "";
    display: block;
    min-height: 280px;
    background-color: rgba(165, 16, 69, 0.5);
    width: 320px;
    position: absolute;
    bottom: 0;
  }
}
.advantages__item {
  padding-top: 35px;
  &:first-child {
  padding-top: 0;
  }
}
.advantages__research {
  display: none;
}
@media @tablet-widths {
  .advantages__title {
    min-height: 240px;
    padding-bottom: 55px;
  }
  .advantages__items {
    padding-top: 23px;
    padding-left: 310px;
    padding-bottom: 43px;
      &::after {
        width: 300px;
        min-height: 482px;
        top: -50px;
        left: 0;
      }
  }
  .advantages__research {
    display: block;
    .clearfix();
  }
  .advantages__research-items {
    width: 310px;
    min-height: 280px;
    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
  }

}
@media @desktop-widths {
  .advantages__title {
    padding-top: 78px;
    padding-bottom: 73px;
    min-height: 160px;
  }
  .advantages__items {
    width: auto;
    min-height: 200px;
    .clearfix();
    padding: 0;

    &::after {
      display: none;
    }

  }
  .advantages__item {
    position: relative;
    float: left;
    width: 250px;
    padding-top: 350px;
    margin-left: 80px;
    &:first-child {
    // padding: 0px;
    padding-top: 350px;
    margin-left: 0;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 250px;
      min-height: 300px;
      top: 0;
      left: 0;
      background-color: rgba(165, 210, 37, 0.55);
    }

  }
  .advantages__research-items {
    min-height: 353px;
    &--left {
      width: 365px;
    }
    &--right {
      width: 568px;
    }
  }
}
