.download-app {
  // display: none;
  // margin-top: 390px;
  // .container();
  // min-height: 271px;
  padding-top: 390px;
  // margin: 0 20px;
  background: transparent url(../img/iphone-hand-mobile@1x.png) no-repeat 0px 107px;
}

.download-app__wrapper {
  // .container();
  padding: 0 20px;
}

.download-app__slogan {
  display: none;
}

.download-app__download-btn {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  padding: 16px 0;
  text-align: center;
  border: 3px solid #FFFFFF;
  border-radius: 50px;
  margin-top: 30px;
}

.download-app p {
  margin: 0;
  color: #FFFFFF;
  text-align: center;
  padding: 22px 10px;
  padding-bottom: 27px;
}

.download-app__mobile-os {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
  padding: 0 20px;
}

.download-app__mobile-os img {
  display: block;
  width: 44px;
  height: auto;
}


@media @tablet-widths {
  .download-app__wrapper {
    // .container();
    display: block;
    width: 300px;
    min-height: 415px;
    padding-left: 40px;
  }

  .download-app__slogan {
    text-align: center;
  }
}
@media @desktop-widths {
  .download-app {
    // padding-left: 130px
  }
}
