.price {
  min-height: 455px;
  padding-top: 55px;
  padding-bottom: 100px;
}

.price__table {
  display: block;
}

.price__table-title-items {
  display: block;
}

.price__table-title-item {
  display: block;
  &--one,
  &--two,
  &--four {
    display: none;
  }
  &--three {
    display: block;
  }
}

.price__table-item {
  display: block;
  &--one,
  &--two,
  &--four {
    display: none;
  }
  &--three {
    display: block;
  }
}

@media @table-widths {
  .price {
  min-height: 320px;
  padding-top: 35px;
  padding-bottom: 0;
  }
}
